# Database files
*.db

# Uploaded images
static/uploads/
*.jpg
*.jpeg
*.png

# Python compiled files
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Exception: Do not ignore documentation screenshots
!screenshots/
!screenshots/*.png
!screenshots/*.jpg

# Model weights
*.pt
runs/
weights/